<div class="animated fadeIn" dynamicFixedFullHeight>
    <div class="row" style="height: 100%;">
        <div class="col">

            <div class="flex-container">

                <div class="flex-item" style="width: 400px;">
                    <alms-licence-list>
                    </alms-licence-list>
                </div>

                <div class="flex-item" style="width: 100%">
                    <alms-licence-form></alms-licence-form>
                </div>
            </div>

        </div>
    </div>

</div>