<div class="card card-accent-primary" style="height: 100%;">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div><strong>System Log Filter Panel</strong></div>
      <div class="ml-auto">
        <button type="button" class="btn btn-smx text-primary"><i class="cil-filter"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div>

      <div class="row">
        <div class="col" style="width: 100%;">
          <p-multiSelect [options]="logUsers" [(ngModel)]="systemLogFilterParameter.userIds" [optionLabel]="getusername"
            optionValue="id" autoWidth="false" [style]="{'width':'100%'}" placeholder="Select User(s)"
            styleClass="p-inputtext-sm">
          </p-multiSelect>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col" style="width: 100%;">
          <p-multiSelect [options]="logCategories" [(ngModel)]="systemLogFilterParameter.categories" optionLabel=""
            autoWidth="false" [style]="{'width':'100%'}" placeholder="Select Category(s)" styleClass="p-inputtext-sm">
          </p-multiSelect>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col" style="width: 100%;">
          <p-multiSelect [options]="severityTypes" [(ngModel)]="systemLogFilterParameter.severityTypes" optionLabel=""
            autoWidth="false" [style]="{'width':'100%'}" placeholder="Select Severity Type(s)"
            styleClass="p-inputtext-sm">
          </p-multiSelect>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col" style="width: 100%;">
          <p-multiSelect [options]="crudTypes" [(ngModel)]="systemLogFilterParameter.crudTypes" optionLabel=""
            autoWidth="false" [style]="{'width':'100%'}" placeholder="Select Type(s)" styleClass="p-inputtext-sm">
          </p-multiSelect>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col" style="width: 100%;">
          <p-calendar selectionMode="range" [style]="{'width':'100%'}" placeholder="Select date range"
            [showButtonBar]="true" [(ngModel)]="date" (ngModelChange)="onBlurMethod($event)" dateFormat="dd.mm.yy">
          </p-calendar>
        </div>
      </div>
      <!-- <div class="row mt-1">
        <div class="col" style="width: 100%; padding: 10px 0 10px 33px;">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1"
            [(ngModel)]="systemLogFilterParameter.isOnlyErrorLogs">
          <label class="form-check-label" for="inline-checkbox1">Is Only Error Logs</label>
        </div>
      </div> -->
      <div class="row mt-2">
        <div class="col" style="width: 100%;">
          <button type="submit" class="btn btn-primary px-4 float-right" [style]="{'width':'100%'}"
            (click)="onSubmitButton()"> <i class="cil-search"></i>&nbsp;Search</button>
        </div>
      </div>

    </div>

  </div>

</div>