:host{
        ul{
            padding-left: 2px !important;
            li{
                padding: 10px;
                a{
                    text-decoration: none;
                }
                &:hover{
                    background-color: rgb(251, 251, 251);
                }
                &.active-link{
                    background-color: #f0f3f5;
                    border-radius: 6px;
                    border-right: 1px solid #d6d6d6;
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
        
}