<!-- <div class="card mt-4">
  <div class="card-header">
    <i class="cil-add"></i>Create Shared Folder
  </div>
  <div class="card-body"> -->

<div class="mt-4 ml-2 mr-2">
  <h4 class="mb-4">
    <img src="../../../../assets/img/file-extensions/folder-icon.png" width="21px" alt="">
    <span>&nbsp;{{ isEditMode ? 'Update' : 'Create'}} Shared Folder</span>
  </h4>
  <hr>

  <form #form [formGroup]="formGroup" id="ngForm" action="" method="post" enctype="multipart/form-data"
    class="form-horizontal" (ngSubmit)="onSubmit()">

    <!-- <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Use For Version</label>
        <div class="col-md-9">

          <label class="switch switch-label switch-pill switch-outline-success-alt">
            <input type="checkbox" class="switch-input" formControlName="useForVersion" #useForVersionChkBx>
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>

        </div>
      </div> -->

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="folderName-input">Share Name</label>
      <div class="col-md-9">
        <input type="text" id="folderName-input" name="folderName" class="form-control"
          [style.font-weight]="isEditMode ? 'bold' : 'normal'"
          [class.required]="!isEditMode && !formGroup.controls.folderName.valid" placeholder="Enter Name"
          formControlName="folderName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="comment-input">Comment</label>
      <div class="col-md-9">
        <input type="text" name="comment-input" id="comment-input" class="form-control" placeholder="Enter Comment"
          formControlName="comment">
      </div>
    </div>

    <div class="form-group row">

      <label class="col-md-3 col-form-label" for="owner-input">Share Owner</label>

      <div class="col-md-9">

        <div class="input-group">
          
          <div class="input-group-prepend" dropdown *ngIf="isActiveADService">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>{{sharing.ownerType}}
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item link" *ngFor="let ownerType of ownerTypes"
                (click)="sharing.ownerType = ownerType">{{ownerType}}</a>
            </div>
          </div>

          <div style="width: 100%;" *ngIf="isActiveADService && sharing.ownerType == shareOwnerTypeUI.ADUser">

            <p-dropdown id="volume-input" [style]="{'width':'100%'}" [options]="adUsers" [showClear]="true"
              [filter]="true" optionValue="username" optionLabel="username" placeholder=" Select a AD User"
              formControlName="owner"
              [styleClass]="formGroup.controls.owner.valid ? 'dropdown-input-style' : 'dropdown-input-style required'">
            </p-dropdown>

          </div>

          <div style="width: 100%;" *ngIf="sharing.ownerType == shareOwnerTypeUI.LocalUser">

            <p-dropdown id="volume-input" [style]="{'width':'100%'}" [options]="localUsers" optionValue="username"
              [showClear]="true" [filter]="true" optionLabel="username" placeholder=" Select a Local User"
              formControlName="owner"
              [styleClass]="formGroup.controls.owner.valid ? 'dropdown-input-style' : 'dropdown-input-style required'">
            </p-dropdown>

          </div>

        </div>

      </div>

    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="volume-input">Disk Volume</label>
      <div class="col-md-9">
        <p-dropdown id="volume-input" [disabled]="isEditMode" [options]="volumes" optionValue="volumeName"
          [showClear]="true" [filter]="true" optionLabel="volumeName" [style]="{'width':'100%'}"
          placeholder=" Select a Volume"
          [styleClass]="formGroup.controls.volume.valid ? 'dropdown-input-style' : 'dropdown-input-style required'"
          (onChange)="onChangeToVolume($event)" formControlName="volume"></p-dropdown>
      </div>
    </div>

    <!-- <div class="form-group row">
      <label class="col-md-3 col-form-label" for="description-input">AD Domain Group</label>
      <div class="col-md-9">
        <input type="text" name="description-input" class="form-control" placeholder="Enter AD Domain Group"
          formControlName="description">
      </div>
    </div> -->





    <!-- <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inline-radios">Protection Mode </label>
      <div class="col-md-9 col-form-label">
        <div class="form-check form-check-inline mr-1" id="inline-radios">
          <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Windows Previous Versions </label>
        </div>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Trashbin</label>
        </div>
        <div class="form-check form-check-inline mr-1">
          <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">None</label>
        </div>
      </div>
    </div> -->


    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="windowsPreviousVersions-input">Windows Previous Versions</label>
      <div class="col-md-9">
        <label class="switch switch-label switch-pill switch-outline-success-alt">
          <input type="checkbox" id="windowsPreviousVersions-input" class="switch-input"
            formControlName="windowsPreviousVersions" #windowsPreviousVersions triggers="mouseenter:mouseleave">
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="hideUnreadable-input">Hide Unreadable Objects</label>
      <div class="col-md-9">
        <label class="switch switch-label switch-pill switch-outline-success-alt">
          <input type="checkbox" id="hideUnreadable-input" class="switch-input" formControlName="hideUnreadable"
            #useForVersionChkBx>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="guestOk-input">Allow Guest</label>
      <div class="col-md-9">
        <label class="switch switch-label switch-pill switch-outline-success-alt">
          <input type="checkbox" id="guestOk-input" class="switch-input" formControlName="guestOk" #useForVersionChkBx>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="readOnly-input">Readonly</label>
      <div class="col-md-9">
        <label class="switch switch-label switch-pill switch-outline-success-alt">
          <input type="checkbox" class="switch-input" id="readOnly-input" formControlName="readOnly"
            #useForVersionChkBx>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </div>
    </div>


    <!-- 
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="description-input"></label>
      <div class="col-md-9">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
          <label class="form-check-label" for="checkbox1">
            &nbsp;Enable Windows Previous Versions
          </label>
        </div>
      </div>
    </div>
-->

    <!-- <div class="form-group row">
  <label class="col-md-3 col-form-label" for="description-input"></label>
  <div class="col-md-9">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
      <label class="form-check-label" for="checkbox1">
        &nbsp;Everyone Access
      </label>
    </div>
  </div>
</div>  -->

  </form>

  <!-- </div> -->
  <hr>

  <div style="display: flex; justify-content: flex-end;">
    <button type="reset" class="btn btn-danger" (click)="cancelForm()"><i class="fa fa-ban"></i> Cancel</button>
    <button [disabled]="!formGroup.valid" type="submit" form="ngForm" class="btn btn-primary ml-2"
      (click)="form.ngSubmit"><i class="fa fa-dot-circle-o"></i> {{ isEditMode ? 'Update' : 'Create'}}</button>
  </div>

</div>


<!-- </div> -->

<ngx-loading [show]="_isRunning" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>