<form #form1 [formGroup]="formGroup" id="ngForm11" action="" method="post" enctype="multipart/form-data" class="form-horizontal mt-3" (ngSubmit)="onSubmit()">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Eski Şifre" autocomplete="old-password" required formControlName="oldPassword" [class.is-valid]="formGroup.controls.oldPassword.valid " [class.is-invalid]="formGroup.controls.oldPassword.invalid ">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Yeni Şifre" autocomplete="new-password" required formControlName="newPassword" [class.is-valid]="formGroup.controls.newPassword.valid" [class.is-invalid]="formGroup.controls.newPassword.invalid">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Yeni şifre tekrar" autocomplete="repeat-password" required formControlName="confirmPassword" [class.is-valid]="formGroup.controls.confirmPassword.valid" [class.is-invalid]="formGroup.controls.confirmPassword.invalid">
    </div>

</form>

<div style="display: flex; justify-content: flex-end;">
    <button [disabled]="!formGroup.valid" class="btn btn-sm btn-success ml-2" (click)="onSubmit()"><i
      class="fa fa-dot-circle-o"></i> Change</button>
</div>

<ngx-loading [show]="_isRunning" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>