<div class="card card-accent-primary">
  <div class="card-header">

    <div class="d-flex align-items-center">

      <div class="title-icon">
        <i [class]="_cardTitleIcon"></i>
      </div>

      <div><strong>Share List</strong></div>

      <div class="ml-auto">

        <button type="button" class="btn btn-smx btn-ghost-secondary text-dark" popover="Window Minimize"
          triggers="mouseenter:mouseleave" (click)="minimalizeCardBody(cardBody)"><i
            class="cil-window-minimize"></i></button>

        <button type="button" class="btn btn-smx btn-ghost-secondary text-dark" popover="Download Excel"
          triggers="mouseenter:mouseleave" (click)="exportToExcel()"><i class="cil-data-transfer-down"></i></button>

        <button type="button" class="btn btn-smx btn-ghost-secondary text-dark" popover="Refresh List"
          triggers="mouseenter:mouseleave" (click)="refresh()"><i class="cil-reload"></i></button>
        <button type="button" class="btn btn-smx btn-ghost-secondary text-danger" popover="Create New Share"
          triggers="mouseenter:mouseleave" (click)="createNewSharedFolder()"><i class="cil-plus"></i></button>

      </div>
    </div>

  </div>
  <div #cardBody class="card-body">

    <p-table [value]="sharingList" styleClass="p-datatable-sm p-datatable-striped" sortMode="multiple" [rowHover]="true"
      [resizableColumns]="true" [autoLayout]="false" [paginator]="true" [rows]="15" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[15,50,100]">
      <ng-template pTemplate="header">
        <tr>

          <th style="width: 36px;"></th>
          <th pSortableColumn="folderName">
            <!-- <p-columnFilter type="text" field="name" display="menu"></p-columnFilter> -->
            Share Name
          </th>
          <th pSortableColumn="comment">
            Comment
          </th>
          <th pSortableColumn="folderSize" style="max-width: 200px;">
            <div class="p-d-flex p-jc-between p-ai-center">
              Folder Size
              <!-- <p-columnFilter type="numeric" field="folderSize" display="folderSize"></p-columnFilter> -->
            </div>
          </th>
          <th pSortableColumn="volume">
            <!-- <p-columnFilter type="text" field="volume" display="volume"></p-columnFilter> -->
            Volume
          </th>
          <th style="width: 68px;">#</th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-sharing>

        <tr>
          <td> <img src="../../../../assets/img/file-extensions/folder-icon.png" width="21px"> </td>
          <td>{{sharing.folderName}}</td>
          <td>{{sharing.comment}}</td>
          <td>{{sharing.folderSize}}</td>
          <td>{{sharing.volume}}</td>
          <td style="padding: 0; width: 60px;">
            <!-- <button type="button" class="btn btn-warning btn-sm" popover="Open File Browser"
              triggers="mouseenter:mouseleave" (click)="openFileBrowser(sharing)"><i
                class="cil-folder-open"></i></button> -->
            <button type="button" class="btn btn-danger btn-sm ml-1" popover="Delete" triggers="mouseenter:mouseleave"
              (click)="deleteSharing(sharing)"><i class="cil-trash"></i></button>
            <button type="button" class="btn btn-primary btn-sm ml-1" popover="Edit" triggers="mouseenter:mouseleave"
              (click)="editSharing(sharing)"><i class="cil-pencil"></i></button>
          </td>
        </tr>

      </ng-template>

    </p-table>

  </div>

  <ngx-loading [show]="_isRunning" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="deleteSharingParameter">
      <div class="modal-header">
        <h4 class="modal-title">Delete to Sharing</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>

        <div>This will delete all links accessing this share.</div>

        <br>

        <div [style.color]="deleteSharingParameter.isDeletePhysicalFolder ? 'red' : 'black'">
          <input type="checkbox" id="inline-checkbox1" [(ngModel)]="deleteSharingParameter.isDeletePhysicalFolder"
            (ngModelChange)="onChangeToIsDeletePhysicalFolder($event)">
          <label class="form-check-label link ml-2" for="inline-checkbox1">Delete All Folders and Files </label>
        </div>

        <br>

        <div class="mt-3">
          To confirm this action, please type <span class="noselect"> <strong> "{{deleteSharingParameter.folderName}}"
            </strong>.</span>
          <input type="text" class="form-control" style="font-weight: bold;" placeholder="Type sharing name"
            [(ngModel)]="typingSharingName" required
            [class.required]="typingSharingName != deleteSharingParameter.folderName">
        </div>

        <br>

        <p class="mt-1"><strong>Do you want to continue?</strong></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-danger" (click)="onSubmitToDeleteSharing()"
          [disabled]="typingSharingName != deleteSharingParameter.folderName">Delete!</button>
      </div>
    </div>
  </div>

  <!-- <ngx-loading [show]="_isRunningPopup" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->

</div>

<div [innerHtml]="html"></div>